<%= form_for(post) do |form| %>
  <% if form.object.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% form.object.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <%end %>
      </ul>
    </div>
  <% end %>
  <div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="form-field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="form-field">
  <button type="submit" name="submit">Post</button>
  </div>
<% end %>