<div class="sidenav">
  <ul>
    <li>
      <a href="#">Hot</a>
    </li>
    <li>
      <a href="#">New</a>
    </li>
    <li>
      <a href="#">Rising</a>
    </li>
    <li>
      <a href="#">Top</a>
    </li>
    <li>
      <a href="#">Bookmarked</a>
    </li>
  </ul>
</div>