<div class="container">
  <div class="sidebar"></div>
  <div class="content">
    <div class="main">
      <h3>Welcome to Chaos</h3>
      <p class="muted-text">Sign in by entering the information below.</p>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email Address" %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password"%>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="strip"></div>
</div>