<%= render 'partials/sidebar' %>

<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <h3>
        <%= link_to post.title, post_path(post.id) %>
        <span class="post_author">
          <a href="#" class="muted">
          <%= post.user.name %>
          </a>
        </span>
      </h3>
      <p>
        <%= post.content %>
      </p>
      <p class="bottom-links">
        <a href="#" class="muted">Comments</a>
        <a href="#" class="muted">Bookmark</a>
        <a href="#" class="muted">Flag</a>
        <% if user_signed_in? and (current_user.id === post.user_id) %>
          <a href="#" class="muted">Edit</a>
        <% end %>
      </p>
    </div>
  <% end %>
</div>