<div class="posts-container">
  <h2 style="margin-bottom: 8px;"><%= @post.title %></h2>
  <div class="post-body" style="padding-bottom: 16px; border-bottom: 1px solid rgba(0,0,0,0.24);">
    <%= @post.content %>
  </div>
  <div class="comment-wrapper">
    <% if user_signed_in? %>
      <%= form_for(@comment) do |form| %>
        <% if form.object.errors.any? %>
          <div class="alert alert-error">
            <ul>
              <% form.object.errors.full_messages.each do |msg| %>
                <li> <%= msg %> </li>
              <%end %>
            </ul>
          </div>
        <% end %>
        <%= hidden_field_tag "comment[user_id]", current_user.id %>
        <%= hidden_field_tag "comment[post]", @post.id %>
        <div class="form-field">
          <%= form.label :comment %>
          <%= form.text_area :comment %>
        </div>

        <div class="form-field">
          <button type="submit" name="submit">Submit</button>
        </div>
      <% end %>
    <% end %>
    <hr/>
    <% @replies.each do |reply| %>
    <div class="reply">
      <%= reply.comment %>
    </div>
    <% if comment_tree(reply).empty? %>
    <% else %>
      <div class="child">
      </div>
    <% end %>
  </div>
</div>