* {
  border: 0;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;

  & > div {
    float: left;
  }
}
.sidebar {
  background-color: #35397d;
  width: 30%;
  height: 100vh;
}
.content {
  width: 69%;
  height: 100vh;
  margin: 0 auto;

  .main {
    margin: 5% 25%;
    width: 50%;

    h3 {
      color: #4b83ff;
    }
    .field {
      width: 100%;
    }
    input[type=text], input[type=email], input[type=password], label, button {
      display: block;
      margin-top: 16px;
      margin-bottom: 16px;
    }
    input[type=text],input[type=email], input[type=password] {
      border: 1px solid rgba(0,0,0,0.08);
      width: 100%;
      padding: 12px;
    }
    form input[type=submit] {
      background: #4b83ff;
      border: 1px solid #4b83ff;
      color: #fff;
      width: 100%;
      padding: 16px;
      text-transform: uppercase;
      font-weight: bold;
      border-radius: 5px;
    }
  }

}
.strip {
  width: 1%;
  background-color: #35397d;
  height: 100vh;
}

@media (screen and max-height: 480px) {
  .sidebar, .strip {
    display: none;
  }
}
