body {
  background-color: #eef0f2;
}
nav {
  min-height: 50px;
  background-color: #fff;
  padding: 12px;

  & > div {
    float: left;
  }

  .centered-nav {
    margin: 0 auto;
  }
  .centered-nav ul {
    display: table;
    list-style: none;
    li {
      display: table-cell;
      padding: 12px;
    }
  }

  .profile-thumbnail {
    float: right;
    margin-right: 12px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 480px) {
  .centered-nav {
    display: none;
  }
}