$first-level-comment-border: #01AE83;
$first-level-comment-padding: 8px;

.main-content {
  margin-top: 24px;
}
.posts-container {
  margin: 0 auto;
  width: 50%;
  min-height: 70vh;
}
.post {
  margin-top: 4px;
  padding: 12px;
  background-color: #fff;
}
.post_author {
  float: right;
  font-weight: normal;
}
.muted {
  color: #c8c8c8;
}
.muted:hover {
  text-decoration: underline;
}
.bottom-links {
  margin-top: 16px;
}
.bottom-links a {
  margin-right: 12px;
  text-decoration: none;
}
.post_author a {
  font-size: .8em;
  text-decoration: none;
}

.form-field{
  label {
    display: block;
  }
  input, textarea {
    padding: 12px;
    width: 100%;
  }
  button {
    padding: 8px 16px;
    margin-top: 12px;
    color: #fff;
    border: none;
    background-color: #4b83ff;
  }
}

.comment-wrapper {
  .reply {
    border-left: 3px solid $first-level-comment-border;
    padding-left: $first-level-comment-padding;
    margin-top: 12px;
    margin-bototm: 12px;
  }
}

@media screen and (max-width: 480px) {
  .posts-container {
    width: 100%;
  }
}