.sidenav {
  float: left;
  margin-left: 36px;

  ul {
    list-style: none;

    li {
      padding: 24px;
      
      a {
        text-decoration: none;
        font-weight: bold;
        color: #01AE83;

        &:hover {
          text-decoration: underline;
          color: #5fbe9e;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .sidenav {
    display: none;
  }
}