<!DOCTYPE html>
<html>
  <head>
    <title>Chaos!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="brand">
      <%= image_tag "logo.svg" %>
    </div>
    <div class="centered-nav">
      <ul>
        <li>Home</li>
        <li>Popular</li>
        <li>All</li>
        <li>Random</li>
        <li>Users</li>
        <li>Channels</li>
      </ul>
    </div>
    <div class="profile-thumbnail">
      <% if user_signed_in? %>
        <p>
          <%= current_user.name %>
          <a href="<%= new_post_path %>">New Post</a>
        </p>
      <% else # user not signed in %>
        <p>
          <a href="<%= login_path %> ">Login</a>|<a href="<%= signup_path %>">Sign Up</a>
        </p>
      <% end %>
    </div>
  </nav>

  <div class="main-content">
    <%= yield %>
  </div>
  </body>
</html>
